@media only screen and (max-width: 767px) {
  /* Hero */
  /* .workshop-iconbox {
    flex-direction: row;
  } */

  .ws-iconbox {
    height: 63px;
  }
  .ws-iconbox:nth-child(3) {
    max-width: 100%;
    /* height: 90px; */
  }
  .flip-card-front,
  .flip-card-back {
    padding: 7px 15px;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  .flip-card-back {
    align-items: center;
    text-align: start;
    padding-left: 3rem;
  }
  .ws-iconbox-text h4 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .image-box > picture {
    margin-top: 4px;
    width: 20px;
    height: 20px;
  }
  .ws-iconbox-text {
    color: #49887b;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 16px;
  }
  .sidebar {
    display: none;
  }
  .first-col.content {
    width: 100%;
  }
  .pre-requisite-div {
    padding: 30px;
  }
  .pre-requisite-div h4 {
    text-align: center;
    padding: 10px;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .workshop-include-section .d-flex {
    flex-direction: column;
  }
  .width-responsive {
    width: 100%;
  }
  .flex-responsive {
    flex-direction: column;
  }
  .grid-responsive {
    grid-template-columns: repeat(2, 1fr);
  }
  .benefits-sections {
    width: 50%;
  }
  .benefits {
    padding: 30px 10px;
  }
  .benefits-sections img {
    height: 200px;
    object-fit: contain;
  }
  .benefit-img {
    margin-bottom: 5px;
  }
  .benefits-sections {
    margin-bottom: 10px;
  }
  .bg-white-section:before {
    background-image: none;
    background-color: transparent;
  }
  .habits-parent > div {
    background-color: white !important;
  }
  .habit-seven {
    background-color: white !important;
  }
  .habit-item {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 102px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
    padding: 10px;
    align-items: center;
  }
  /* .habit-gif, .habit-seven-img{
    width: 86px;
    height: 86px;
  } */
  .habit-heading {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .habit-text {
    text-align: left;
    padding: 0;
    font-size: 14px;
    line-height: 19px;
  }
  .habit-seven {
    height: 102px;
    background: rgba(191, 229, 221, 0.2);
    padding: 10px;
  }
  .habit-item .mb-20 {
    margin-bottom: 0px !important;
    margin-right: 10px;
  }
  .habit-item img,
  .habit-seven-img img {
    min-width: 70px;
  }
  .habit-seven .width-40 {
    display: none !important;
  }
  .habit-seven .width-60 {
    width: 100%;
  }

  .habit-gif,
  .habit-seven-img {
    margin-right: 10px;
  }
  .habit-seven > div {
    gap: 0px;
  }
  .habit-register-now {
    display: none;
  }
  .taTabs {
    margin: 0;
  }
  .taTabs__contentWrap {
    padding: 0px;
  }
  .taTabs__navWap {
    justify-content: flex-start;
    margin: 15px 0;
  }
  /* .taTabs__nav {
  } */
  .days-info {
    padding: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .program-info {
    padding: 15px;
  }
  .testimonial-main .d-flex {
    flex-direction: column;
  }
  .testimonial-heading {
    padding: 0px 4px;
  }
  .highlighted-testimonials,
  .other-testimonials {
    padding: 1rem;
    width: 100%;
  }
  .testimoni-top {
    flex-direction: row !important;
  }

  .testimonial-div {
    width: 100%;
    background-color: var(--white);
    padding: 30px 0px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    margin-bottom: 20px;
  }

  .other-testimonials {
    padding: 0px 15px;
  }
  /* .bg-F4F2EB {
    background-color: #ffffff;
  } */
  .who-is-for-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .who-is-for-div {
    flex-direction: column;
    padding: 0;
    border-bottom: none;
  }
  .who-is-for-item-text .heading {
    font-weight: 600;
    text-align: center;
  }
  .who-is-for-item-text .text-details {
    text-align: center;
  }

  .who-is-heading {
    text-align: center;
  }

  .workshop-not-for {
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
  }
  .workshop-not-subheading {
    text-align: center;
    padding: 0 25px;
  }
  .wrapper.about-host-div {
    flex-direction: column;
  }
  .read-more-text {
    padding: 0px 15px;
  }

  .radio-group label {
    max-width: 65px;
  }
  .form-info-text {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
  }
  .terms a {
    font-size: 13px;
  }
  .footer-data {
    align-items: center;
  }

  .footer-data div {
    color: #919191;
  }
}
