@media screen and (max-width: 1024px) {
  section {
    padding-left: 22px;
    padding-right: 22px;
  }
  header > section > nav {
    display: none;
  }
  .last-day-register {
    position: relative;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    background-color: #f4ebe1;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ba824e;
    font-weight: 400;
    outline: none;
    overflow: hidden;
    font-size: 16px;
    /* display: block; */
  }

  .last-day-register:before {
    animation: shine 5s ease-in-out infinite;
  }

  .last-day-register::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 10%,
      #ba824e96,
      rgba(255, 255, 255, 0) 90%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    50% {
      left: 100%;
    }

    100% {
      left: -100px;
    }
  }
  .last-day-register p {
    font-weight: 500;
  }

  @keyframes zoomText {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .zoom-text {
    /* font-size: 2rem; */
    display: inline-block;
    animation: zoomText 3s infinite ease-in-out;
  }
  .hero-clip-path {
    clip-path: none;
  }
  .hero-section {
    /* background-image: url(https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/detail/hero-bg-sm.webp); */
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #e6f3ef;
    padding-bottom: 13rem;
  }

  .hero-content {
    flex-direction: column;
  }
  .text-section {
    text-align: center;
  }
  .hero-content > .text-section > div > h4 {
    margin-top: 0px;
    color: #49887b;
    font-family: "Greycliff CF";
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .hero-content > .text-section > div > p {
    margin-top: 13px;
    color: #666;
    text-align: center;
    font-family: "Greycliff CF";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .register-now-div {
    margin: 36px auto;
  }
  .register-now {
    width: 200px;
    margin: 0 auto;
    border-radius: 35px;
  }
  .people-joined {
    text-align: center;
    justify-content: center;
  }
  .people-joined img {
    display: none;
  }
  .video-section {
    position: relative;
    width: calc(100vw - 40px);
    height: 231px;
    border-radius: 13px;
    overflow: hidden;
    margin: 0 10px;
  }
  .first-col.content {
    width: 100%;
  }
  .workshop-for-not-all{
    padding: 17px 14px;
  }
  .workshop-for-not-all-inner {
    flex-wrap: wrap;
  }
  .not-for-items {
    max-width: 156px;
  }
  .not-for-items-text{
    font-size: 14px;
  }
  .sidebar {
    display: none;
  }
  .workshop-iconbox {
    flex-direction: column;
  }
  .ws-iconbox {
    max-width: 100%;
  }
  .ws-iconbox:nth-child(3) {
    max-width: 100%;
  }
  .session-counter-home h3 {
    display: none;
  }
  .session-counter-home h4 {
    display: block;
  }
  .workshop-include-section {
    padding: 20px 19px 24px 19px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .taTabs__nav {
    font-weight: 500;
    font-size: 16px;
  }
  .pr-info-title,
  .pr-info-detail {
    font-size: 14px;
  }

  .day {
    font-size: 16px;
  }

  .weekday {
    font-size: 14px;
  }
}
