/* @font-face {
  font-family: "GreycliffCF-thin";
  src: url("../fonts/GreycliffCF-Thin.woff") format("woff");
  font-weight: 300;
 
}

@font-face {
  font-family: "GreycliffCF";
  src: url("/fonts/GreycliffCF-Regular.woff") format("woff");
  font-weight: 400;
 
}

@font-face {
  font-family: "GreycliffCF-medium";
  src: url("/fonts/greycliffcf-medium.woff") format("woff");
  font-weight: 500;
 
}
@font-face {
  font-family: "GreycliffCF-semibold";
  src: url("/fonts/greycliffcf-demibold.woff") format("woff");
  font-weight: 600;
 
}
@font-face {
  font-family: "GreycliffCF";
  src: url("/fonts/GreycliffCF-Bold.woff") format("woff");
  font-weight: 500;
 
} */

:root {
  --bg-color: #f4f2eb;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* Reset basic elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default font styles */
body {
  margin: 0;
  /* font-family: "GreycliffCF", sans-serif; */
  font-family: "Greycliff CF";
  line-height: normal;
  text-decoration: none;
  color: inherit;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default table styling */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove any browser-specific form input styling */
input,
button,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* Remove default styling for anchors */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default block margin */
blockquote {
  margin: 0;
}

/* Ensure images are not distorted */
img {
  max-width: 100%;
  height: auto;
}

button,
a {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Hide default checkbox */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

/* Checkbox checked state */
.custom-checkbox:checked {
  background-color: #49887b;
  border-color: white;
}

/* Checkmark */
.custom-checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

/* Hover effect */
.custom-checkbox:hover {
  border-color: #49887b;
}

/* common css for the Page */
.container-class {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1038px;
}
.container-class-ty {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 344px;
}

.bg-F4F2EB {
  background-color: var(--bg-color);
}

.w-full {
  width: 100%;
}

.width-responsive {
  width: 50%;
}
.relative {
  position: relative;
}
.d-flex {
  display: flex;
}

.flex-responsive {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.mb-60 {
  margin-bottom: 60px;
}

.form-gap-responsive {
  gap: 25px;
}
.gap-1 {
  gap: 4px;
}
.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-content: center;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px !important;
}
.mt-5 {
  margin-top: 5px;
}
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.mt-40 {
  margin-top: 45px;
}
.mb-40 {
  margin-bottom: 45px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.border-bottom-0 {
  border-bottom: 0px solid transparent !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

/* .d-grid{
  display: grid;
} */

/* Header */

header {
  width: 100%;
  height: 73.5px;
  flex-shrink: 0;
  background: #618780;
}

header > section {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1038px;
}

.logo {
  margin-left: -1.2rem;
}

header > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > section > nav > ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

header > section > nav > ul > li {
  color: white;
  transition: color 0.3s ease-in-out;
}

header > section > nav > ul > li:hover,
.privacy-policy:hover,
.tandc:hover {
  color: #dbaf64;
  transition: color 0.3s ease-in-out;
}

.contact-us {
  width: 100%;
  max-width: 214px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 96px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.contact-us:hover {
  background: #f4f2eb;
  color: #618780;
  transition: color 0.3s ease-in-out;
}

/* Hero Section */
.hero-section {
  /* min-height: 562px; */
  background-image: url("./images/hero-bg.webp");
  background-position: top center;
  padding-top: 56px;
  padding-bottom: 13rem;
  background-repeat: no-repeat;
}

.uhc-mobile{
  display: none;
}

.text-section{
  margin-top: -2rem;
}

.hero-section-ty {
  min-height: 212px;
  padding-top: 20px;
  background-image: url("./images/thank-you/hero-bg.webp");
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: start;
}

.hero-section-ty > main > h3 {
  color: #49887b;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.hero-section-ty > main > p {
  margin-top: 10px;
  color: #666;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.hero-section-ty > main > div > div > span {
  color: #49887b;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
.hero-clip-path {
  clip-path: ellipse(105% 50% at 52% 42%);
}
.hero-clip-path-ty {
  clip-path: ellipse(105% 50% at 52% 42%);
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.text-section .video-section {
  width: 50%;
}

.hero-content > .text-section > div > span {
  color: #49887b;
  font-family: "Greycliff CF";
  font-size: 22px;

  font-weight: 700;
  line-height: 40px;
}

.hero-content > .text-section > div > h4 {
  margin-top: 6px;
  color: #49887b;
  font-family: "Greycliff CF";
  font-size: 42px;

  font-weight: 400;
  line-height: 43px;
}

.hero-content > .text-section > div > p {
  margin-top: 13px;
  color: #666;
  text-align: center;
  font-family: "Greycliff CF";
  font-size: 18px;

  font-weight: 500;
  line-height: 24px;
}

.register-now,
.sidebar-register-now,
.habit-register-now,
.pay-now,
.scholarship-register-now,
.ty-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  white-space: nowrap;
}

.register-now {
  background: linear-gradient(92deg, #91b7af -6.15%, #618780 114.84%);
  color: #fff;
  margin-top: 17px;
  width: 336.37px;
  height: 49.267px;
  padding: 14px 119px;
  font-weight: 500;
  gap: 4px;
}

.sidebar-register-now {
  background: linear-gradient(92deg, #91b7af -6.15%, #618780 114.84%);
  color: #fff;
  margin: 21px 0;
  height: 40px;
  padding: 0 1.75rem;
  border-radius: 30px;
}

.habit-register-now {
  background: linear-gradient(92deg, #91b7af -6.15%, #618780 114.84%);
  color: #fff;
  width: 100%;
  max-width: 188px;
  height: 44px;
  padding: 14px 59px;
  font-weight: 500;
  gap: 10px;
}

.pay-now {
  max-width: 188px;
  height: 46px;
  width: 100%;
  /* padding: 9px 56px; */
  background: #ffc76a;
  color: #418b78;
  font-size: 18px;
  font-weight: bold;
}
.scholarship-register-now {
  font-size: 18px;
  font-weight: 500;
  color: white;
  max-width: 100%;
  width: 100%;
  height: 46px;
  border-radius: 42px;
  background: linear-gradient(90deg, #8ab0a8 0%, #6c918a 100%);
}

.ty-form-button {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  height: 46px;
  background: linear-gradient(90deg, #8ab0a8 0%, #6c918a 100%);
  color: white !important;
}

.register-now:hover,
.sidebar-register-now:hover,
.habit-register-now:hover,
.scholarship-register-now:hover,
.ty-form-button:hover {
  background: linear-gradient(92deg, #84aba3 -6.15%, #567872 114.84%);
}

.pay-now:hover {
  background: #f3ab34;
}

.register-text,
.sidebar-register-text,
.habit-register-text,
.pay-now-text,
.scholarship-register-now-text,
.ty-form-button-text {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.register-now .register-text,
.sidebar-register-now .sidebar-register-text,
.habit-register-now .habit-register-text,
.pay-now .pay-now-text,
.scholarship-register-now .scholarship-register-now-text,
.ty-form-button .ty-form-button-text {
  transform: translateX(8px);
}

.register-now:hover .register-text,
.sidebar-register-now:hover .sidebar-register-text,
.habit-register-now:hover .habit-register-text,
.pay-now:hover .pay-now-text,
.scholarship-register-now:hover .scholarship-register-now-text,
.ty-form-button:hover .ty-form-button-text {
  transform: translateX(-8px);
}

.register-now > img,
.sidebar-register-now > img,
.habit-register-now > img,
.pay-now > svg,
.scholarship-register-now > img,
.ty-form-button > img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.register-now:hover > img,
.sidebar-register-now:hover > img,
.habit-register-now:hover > img,
.pay-now:hover > svg,
.scholarship-register-now:hover > img,
.ty-form-button:hover > img {
  opacity: 1;
}

.people-joined {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #c18a6f;
  font-size: 16px;
  font-weight: 500;
}
.people-joined img {
  height: 20px;
  width: 55px;
}
.video-section {
  position: relative;
  width: 529px;
  height: 297px;
  border-radius: 13px;
  overflow: hidden;
}

.workshop-details{
  padding-bottom: 45px;
}

/* Workshop Iconbox */
/* Workshop Iconbox */
.workshop-iconbox {
  margin-top: -10rem;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.ws-iconbox {
  width: 100%;
  height: 160px;
  max-width: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border-radius: 12px;
  /* border: 1px solid #fff; */
  background: #fff;
  backdrop-filter: blur(8.5px);
  transition: all 0.3s ease-in;
  position: relative;
  overflow: hidden;
}

.ws-iconbox-picture{
  border-radius: 0px;
}

.ws-iconbox:nth-child(3) {
  max-width: 242.427px;
}

.ws-iconbox:hover {
  box-shadow: 4px 4px 12px #00000012;
}

.ws-iconbox .image-box picture {
  transition: all 0.3s ease-in;
}

.ws-iconbox:hover .image-box picture {
  scale: 1.1;
  transition: all 0.3s ease-in;
}

.ws-iconbox-text > h4 {
  color: #44557c;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
}

.ws-iconbox-text > p {
  color: #49887b;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 5px;
}

/* Flip Card Styles */
.flip-card {
  width: 100%;
  height: 100%;
  perspective: 1000px; /* 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Enable 3D effect */
  transition: transform 0.6s; /* Flip transition */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide back side when flipped */
}

.flip-card-front {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flip-card-back {
  background: #65a899;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotateY(180deg); /* Initially hidden at the back */
  padding: 20px;
  border-radius: 12px;
}
.flip-card-inner.flipped {
  transform: rotateY(180deg); /* Flip when clicked */
}

.flip-card-inner.unflipped {
  transform: rotateY(0deg);
}

/* Media query for devices up to 1024px */
@media (max-width: 1024px) {
  .ws-iconbox {
    cursor: pointer; /* Make it clear that it's clickable */
  }
}

.icon-list {
  height: 36px;
}

.first-col {
  width: 70%;
}

.pre-requisite-div {
  margin-top: 45px;
  width: 100%;
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 45px;
  transition: all 0.3s ease-in;
}

.pre-requisite-div:hover {
  box-shadow: 8px 8px 12px #00000012;
  transition: all 0.3s ease-in;
}

.pre-requisite-div h4 {
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #4a4a4a;
}

.pre-requisite-div ol {
  padding-left: 15px;
  list-style-type: decimal;
}

.pre-requisite-div li {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

.divider {
  background-color: #c8c8c8;
  /* border-top: 1px solid #c8c8c8; */
}

.whats-include-heading {
  font-size: 32px;
  line-height: 40px;
  color: #4a4a4a;
  text-align: center;
  margin-bottom: 22px;
}

.workshop-include-section {
  width: 100%;
  background-color: var(--white);
  padding: 26px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin-bottom: 20px;
}

.workshop-include-section:hover {
  box-shadow: 4px 4px 12px #00000012;
}

.workshop-included-br{
  display: none;
}

.workshop-include-section h5 {
  font-size: 22px;
  line-height: 26px;
  color: #44557c;
  font-weight: 500;
  margin-bottom: 5px;
}

.workshop-include-section p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  font-weight: 500;
}

.workshop-include-section-image-parent {
  width: 100%;
  max-width: 165px;
}

.workshop-include-section img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}

.workshop-include-section:hover img {
  scale: 1.05;
  transition: all 0.3s ease-in;
}

.benefits {
  width: 100%;
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefits:hover {
  box-shadow: 4px 4px 12px #00000012;
}

.benefits-subheading {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}

.benefits-sections {
  text-align: center;
  width: 33.33%;
  margin-bottom: 30px;
}

.benefits-sections > p {
  margin-top: 17px;
  margin-bottom: 4px;
}

.benefit-img {
  min-height: 244px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.benefits-sections img {
  transition: all 0.3s ease;
  max-height: 244px;
  object-fit: contain;
  object-position: bottom;
}

.benefits-sections p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #44557c;
}

.benefits-sections:hover img {
  scale: 1.05;
  transition: all 0.3s ease-in;
}

.habits-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* .habits-parent > div:nth-child(1) {
  background: rgba(191, 229, 221, 0.9);
}

.habits-parent > div:nth-child(2) {
  background: rgba(191, 229, 221, 0.8);
}

.habits-parent > div:nth-child(3) {
  background: rgba(191, 229, 221, 0.7);
}

.habits-parent > div:nth-child(4) {
  background: rgba(191, 229, 221, 0.6);
}

.habits-parent > div:nth-child(5) {
  background: rgba(191, 229, 221, 0.5);
}

.habits-parent > div:nth-child(6) {
  background: rgba(191, 229, 221, 0.3);
} */

.habit-item {
  width: 100%;
  height: 253px;
  max-width: 222px;
  max-height: 253px;
  text-align: center;
  background-color: white;
  padding: 12px 12px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.habit-item:hover {
  box-shadow: 4px 4px 12px 0px #0000001f;
  transition: all 0.3s ease-in;
}

.habit-item img {
  width: 90px;
  transition: all 0.3s ease-in;
}

.habit-item:hover img {
  scale: 1.2;
  transition: all 0.3s ease-in;
}

.habit-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.57px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #49887b;
}

.habit-text {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.habit-seven {
  max-height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 24px;
  transition: all 0.3s ease-in;
}

.habit-seven-img {
  width: 99px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.habit-seven:hover {
  box-shadow: 4px 4px 12px 0px #0000001f;
  transition: all 0.3s ease-in;
}

.habit-seven:hover img {
  scale: 1.2;
  transition: all 0.3s ease-in;
}

.habit-text {
  margin-top: 4px;
  color: #666666;
}
.habit-seven-text .habit-heading {
  text-align: left;
}

.habit-seven-text .habit-text {
  text-align: left;
  padding: 0;
}

.dishes-recipes {
  height: 685px;
  overflow: hidden;
}

/* .dishes-recipes:hover{
  scale: 1.3;
  transition: all 0.3s ease-in;
} */
/* Style for the picture element */
picture {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

/* Style for the images */
img {
  width: 100%;
  transition: transform 0.3s ease;
}

/* Scale the image on hover */
picture:hover img {
  transform: scale(1.025);
}

/* .bg-white-section {
  background-color: white;
  
} */

/* .bg-white-section:before {
  content: "";
  background-image: url(https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/detail/white_curved_bg.webp);
  width: 100vw;
  position: absolute;
  height: 100%;
  z-index: -1;
  left: -122px;
  overflow: hidden;
  background-color: #fff;
  max-height: 2700px;
} */

/* tab css */

/* .taTabs {
  
} */

.taTabs__navWap {
  list-style: none;
  display: flex;
  font-weight: 500;
  color: #44557c;
  justify-content: center;
}

.taTabs__nav {
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  color: #44557c;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.taTabs__nav--active {
  color: #49887b;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.taTabs__contentWrap {
  margin-top: 10px;
}

.taTabs__content {
  display: none;
}

.taTabs__content--active {
  display: block;
}

.days-info {
  background-color: #cceae4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.day {
  color: #49887b;
  font-weight: 500;
  font-size: 22px;
}

.weekday {
  font-weight: 500;
  color: #44557c;
}

.pr-info-title {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.pr-info-details {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  color: #44557c;
}

.program-info {
  background-color: white;
  padding: 10px 30px;
  height: 100px;
  margin-left: 12px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.testimonial-div {
  width: 100%;
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin-bottom: 20px;
}

.testimonial-heading-mobile{
  display: none;
}

.whats-say-heading {
  color: #4a4a4a;
  margin-bottom: 10px;
  font-size: 32px;
  /* font-weight: 400; */
  line-height: 40.35px;
  text-align: center;
}

.whats-say-subheading {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.highlighted-testimonials {
  width: 35%;
}

.highlighted-testimonials-inner {
  background-color: #ecf7f5;
  border-radius: 20px;
  padding-bottom: 40px;
}

.other-testimonials {
  width: 60%;
}

.highlighted-review-div {
  width: 75%;
  margin: 0 auto;
}

.shine-effect {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #49887b;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  outline: none;
  overflow: hidden;
  font-size: 16px;
  white-space: nowrap;
}

.shine-effect:before {
  animation: shine 4s ease-in-out infinite;
}

.shine-effect::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgb(255 255 255 / 58%),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  50% {
    left: 100%;
  }

  100% {
    left: -100px;
  }
}

.highlighted-testimoni {
  margin-top: 40px;
}

.highlighted-testimoni-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 20px;
  overflow: hidden;
  transition: scale 0.3s ease;
  &:hover {
    scale: 1.1;
    transition: scale 0.3s ease;
  }
}

/* .highlighted-testimoni-image img {
  border-radius: 50%;
  transition: scale 0.3s ease;
}

.highlighted-testimoni-image:hover img {
  scale: 1.1;
  transition: scale 0.3s ease;
} */

.testimoni-client-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.91px;
  text-align: center;
  color: #49887b;
}

.testimoni-client-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #4a4a4a;
}

.testimoni-text {
  /* width: 60%; */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* text-align: center; */
  color: #666666;
  margin: auto;
  padding: 0 18px;
}

.star-rating {
  max-width: 120px;
  /* margin: 15px 0; */
}
.star-rating-highlited {
  margin-top: 11px;
  margin-bottom: 27px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-rating-highlited > img {
  max-width: 120px;
}
.normal-testimoni-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #566890;
}

.testimoni-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #666666;
}

.scholarship-card {
  padding: 28px;
  background: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  &:hover img {
    scale: 1.1;
  }
}

.scholarship-card-content > h4 {
  font-weight: bold;
  font-size: 22px;
  color: #4a4a4a;
}

.scholarship-card-content > p {
  max-width: 365px;
  margin-top: 4px;
  font-size: 16px;
  color: #666666;
}

.scholarship-card-content > button {
  margin-top: 15px;
  font-weight: 500;
  color: #49887b;
  text-decoration: underline;
}

.scholarship-card-image-parent {
  width: 171px;
  height: 123px;
  overflow: hidden;
  border-radius: 12px;
}

.scholarship-card-image-parent > img {
  border-radius: 12px;
  transition: all 0.3s ease-in;
  /* &:hover{
    scale: 1.1;
  } */
}
/* Modal Styling */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* When modal is open, make it visible */
.modal.show {
  opacity: 1;
  visibility: visible;
}

/* Animate modal content when modal is visible */
.modal.show .modal-content {
  transform: translateY(0); /* Slide in */
  opacity: 1;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #f4f2eb;
  padding: 22px;
  border-radius: 24px;
  width: 100%;
  max-width: 600px;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(43, 43, 43, 0.08);
  z-index: 500;
  transform: translateY(500px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.close {
  position: absolute;
  top: 20px;
  right: 22px;
  font-size: 24px;
  cursor: pointer;
}

.modal-content > h2 {
  margin-bottom: 15px;
}

#scholarshipForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#scholarshipForm > p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.scholarshipFormLabel {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.scholarshipFormInput {
  overflow: hidden;
  margin-top: 5px;
  width: 100%;
  height: 42px;
  padding: 10.5px 0px 11.5px 18px;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(43, 43, 43, 0.08);
  &::placeholder {
    color: #a3a3a3;
  }
}

.mobile-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scholarship-amount-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.scholarship-amount-options label {
  width: 100%;
  max-width: 90px;
  height: 42px;
  border-radius: 50px;
  border: 1px solid #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scholarship-amount-options input {
  display: none;
}

.scholarship-amount-options input:checked + span {
  width: 100%;
  height: 100%;
  background: #418b78;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scholarship-terms-parent {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.scholarship-terms {
  font-size: 13px;
  color: #666;
}

.who-is-for {
  width: 100%;
  background-color: var(--white);
  padding: 0px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin-bottom: 20px;
}

.who-is-heading {
  color: #4a4a4a;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 40.35px;
  text-align: left;
  padding: 30px 30px 0 30px;
}

.who-is-for-div {
  border-bottom: 1px solid #e4e4e4;
  padding: 0 30px 30px;
}

.who-is-for-item {
  width: 50%;
}

.who-is-for-item-img {
  margin-bottom: 10px;
}

.who-is-for-item-img img {
  width: 64px;
  height: 64px;
}

.who-is-for-item-text .heading {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  text-align: left;
  color: #49887b;
  margin-bottom: 15px;
}

.who-is-for-item-text .text-details {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.workshop-for-not-all {
  background-color: white;
  border-radius: 12px;
  padding: 40px 28px;
}

.workshop-for-not-all-inner {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.workshop-not-for {
  font-size: 32px;
  line-height: 40.35px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.not-text {
  color: #d96363;
  text-decoration: underline;
}

.workshop-not-subheading {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.not-for-items {
  width: 100%;
  max-width: 154px;
  padding: 16px 1px;
  background-color: #f4f2eb;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.not-for-items:hover {
  box-shadow: 0px 0px 14px 0px #00000024;
  transition: all 0.3s ease-in;
}

.not-for-items img {
  width: 64px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in;
}

.not-for-items:hover img {
  scale: 1.1;
  transition: all 0.3s ease-in;
}

.not-for-items-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #666666;
}

.subah-images {
  border-radius: 22px;
  transition: all 0.3s ease-in;
}

.subah-image-div {
  height: 100%;
  max-height: 499px;
  overflow: hidden;
  border-radius: 22px;
}
.subah-and-harsh {
  transition: all 0.3s ease-in;
}

.subah-and-harsh:hover {
  scale: 1.05;
}

.subah-images:hover {
  scale: 1.05;
  transition: all 0.3s ease-in;
}

.faq-heading {
  font-size: 32px;
  line-height: 40.35px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  margin-bottom: 20px;
  color: #4a4a4a;
}

.sidebar {
  overflow: auto;
  position: sticky;
  top: 5%;
  width: 100%;
  height: 100%;
  max-width: 247px;
  max-height: 373px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.sidebar-inner h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #49887b;
}

.sidebar-hr {
  margin-top: 8px;
  width: 100%;
  max-width: 209px;
  height: 0.5px;
  background: rgba(73, 136, 123, 0.2);
}

.sidbar-data {
  width: 100%;
  margin-top: 14px;
  height: 35px;
  border-radius: 37px;
  background: #ecf7f5;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.sidbar-data > p {
  padding-top: 8px;
  color: #49887b;
  text-align: center;
  font-size: 14px;

  font-weight: 400;
  line-height: normal;
}

.sidebar-ul {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-li {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.sidebar-li > span {
  color: #44557c;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
}

.sidebar-inner-icon-container {
  width: 16px;
  height: 16px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.main-content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 81px;
}

.sidebar {
  width: 25%;
  float: right;
  /* background: #65bdf8; */
  min-height: 373px;
  overflow: hidden;
  /* padding: 45px 15px; */
}

.sidebar.fixed {
  position: fixed;
  top: 0;
}

.content {
  float: left;
  width: 70%;
  /* background: #666c82; */
  height: 100%;
  /* padding: 45px 15px; */
}

.footer {
  width: 100%;
  height: 800px;
  background: #1064a7;
  clear: both;
  padding: 45px 15px;
}

.footer-ul {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  color: #666;
}
.ty-footer-ul {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  color: #919191;
  font-size: 15px;
}

/* faq code */

.qna {
  --qna-animation-duration: 0.3s;
  /* --qna-border-color: #ccc; */
  /* width: clamp(300px, 50%, 800px); */
  margin: 0px auto;
}

.qna__item {
  margin: -1px 0 0;
  /* border: 1px solid var(--qna-border-color); */
  transition: var(--qna-animation-duration);
  background: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px 20px 10px;
}

.qna__item:not(.js-details)[open],
.qna__item.is-open {
  --qna-border-color: #777;
  position: relative;
}

.qna__question {
  position: relative;
  padding: 0px 50px 10px 0px;
  list-style: none;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #4a4a4a;
}

.qna__question::after {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  right: 4px;
  width: 12px;
  height: 8px;
  stroke: #4a4a4a;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 8'%3E%3Cpath stroke='%234A4A4A' stroke-width='2' d='M1 1l5 5 5-5'/%3E%3C/svg%3E");

  transition: var(--qna-animation-duration);
}

.qna__item:not(.js-details)[open] .qna__question::after,
.qna__item.is-open .qna__question::after {
  transform: rotate(-180deg);
}

.qna__question::-webkit-details-marker {
  display: none;
}

.js-details .qna__answer {
  max-height: 0;
  overflow: hidden;
  animation: slideUp var(--qna-animation-duration);
}

.js-details.is-open .qna__answer {
  max-height: none;
  animation: slideDown var(--qna-animation-duration);
}

.js-details.is-open.is-animating .qna__answer {
  max-height: var(--qna-details-height);
}

.qna__text {
  padding: 10px 0px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #4a4a4a;
  border-top: 1px solid #e4e4e4;
}

@keyframes slideUp {
  0% {
    max-height: var(--qna-details-height);
    opacity: 1;
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: var(--qna-details-height);
    opacity: 1;
  }
}

.load-more {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  text-decoration: underline;
  color: #49887b;
}

.about-the-host {
  font-size: 32px;
  line-height: 40.35px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 30px;
}
.host-details {
  background-color: #ffffff;
  border-radius: 10px;
}
.host-details-image {
  transition: all 0.3s ease-in;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.host-details-image img {
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease-in;
}

.host-details-image:hover img {
  scale: 1.03;
  transition: all 0.3s ease-in;
}

.host-name {
  font-size: 22px;
  font-weight: 600;
  line-height: 28.6px;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 5px;
  padding: 0 15px;
  margin-top: 15px;
}
.host-details-inner {
  /* background-color: #ffffff; */
  padding: 0 15px;
}

.host-detail-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #666666;
  margin-bottom: 15px;
}

.read-more-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* text-align: center; */
  color: #c18a6f;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #90634e;
  }
}
.read-more-text img {
  margin-top: -6px;
  width: 10px;
  &:hover {
    color: #90634e;
  }
}

.wrapper.about-host-div {
  display: flex;
  justify-content: space-between;
}
.about-host-div .card {
  flex: 1;
  /* border: 1px solid lightgray; */
  /* margin: 1rem; */
  /* padding: 1rem; */
  border-radius: 1rem;
  height: 100%;
  padding-bottom: 20px;
}
.about-host-div .description {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.about-host-div .button {
  /* display: block; */
  /* margin-top: 1rem; */
  /* font-weight: 700; */
  /* color: #007bff; */
  cursor: pointer;
}

.register-box {
  padding: 30px;
  height: 100%;
  max-height: 598px;
  border-radius: 13px;
  background-image: url("https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/detail/teal-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-now-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.register-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.register-now-text-subheading {
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  margin-bottom: 30px;
}

.register-box .form-input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.register-box .form-input::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #fff;
}
.form-input {
  width: 100%;
  height: 42px;
  border: 1px solid #fff;
  padding-left: 14px;
  font-size: 16px;
  line-height: 32px;
  border-radius: 44px;
  color: #fff;
}
.form-error {
  visibility: hidden;
  margin-top: 3px;
  color: #ffefa8;
  font-size: 12px;

  font-weight: 400;
  line-height: normal;
}
.form-select {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  border: 1px solid #fff;

  font-size: 16px;
  line-height: 32px;
  border-radius: 44px;
  color: #fff;
}
.form-select div {
  width: 48px;
  height: 100%;
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-select select {
  width: 100%;
  height: 42px;
  padding: 5px 15px;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

.form-select option {
  color: black;
}
.iti {
  width: 100%;
}
.form-info-text {
  color: #fff;
  text-align: center;
  font-size: 16px;

  font-weight: 400;
  line-height: 21px;
}
.radio-group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.radio-group label {
  width: 100%;
  max-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  border: 1px solid #fff;
  font-weight: 500;
  color: white;
  overflow: hidden;
  cursor: pointer;
}

.radio-group input {
  display: none;
}

.radio-group input:checked + span,
.radio-group input:hover + span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #418b78;
  padding: 10px;
  border-radius: 6px;
}

.terms {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}
.terms a {
  text-decoration: underline;
}
.terms label {
  color: #fff;
  font-family: "Greycliff CF";
  font-size: 16px;

  font-weight: 400;
  line-height: 22px;
}

.register-form > button:hover {
  background: #ffc107;
}

.register-form-bottom {
  /* margin-top: 14px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  background-color: #f9f9fb;
  padding: 30px;
  margin-top: 80px;
}
.footer-bottom-ty {
  height: 105px;
  background-color: #f9f9fb;
  padding: 14px;
  margin-top: 40px;
}

.footer-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}
.footer-data-ty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.footer-data div {
  color: #666666;
}

.logo-footer {
  width: 150px;
  margin-bottom: 10px;
}
.logo-footer-ty {
  width: 101px;
  margin-bottom: 10px;
}
.last-day-register {
  display: none;
}

/* Pagination Styles */
.pagination-container {
  text-align: center;
  margin-top: 40px;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination button {
  width: 41.02px;
  height: 42.5px;
  border-radius: 8px;
  background: #f6f6f6;
  color: #919191;
  cursor: pointer;
  &:hover {
    background: #49887b;
    color: white;
  }
}

.pagination button.active {
  background: #49887b;
  color: white;
}

.ty-card {
  /* margin-top: 24px; */
  padding: 12px 18px;
  max-width: 300px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.ty-store-icons {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}

.ty-card h3 {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 500;
  line-height: 165%;
}
.ty-card label {
  color: #666;

  font-size: 14px;

  font-weight: 500;
  line-height: normal;
}
.ty-card p {
  margin-top: 12px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.ty-card span {
  color: #797979;
  font-weight: 500;
  font-size: 11px;

  font-weight: 400;
  line-height: 21px; /* 190.909% */
}
.ty-card span a {
  opacity: 0.8;
  color: #49887b;
  font-size: 11px;
  font-weight: 600;
  line-height: 21px;
  text-decoration-line: underline;
}

.ty-form-group-parent {
  margin-top: 18px;
}

.ty-form-group {
  margin-top: 5px;
  position: relative;
}
.ty-back-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.ty-form-group input {
  padding-left: 12px;
  padding-right: 32px;
  width: 100%;
  height: 43px;
  border-radius: 30px;
  border: 1.5px solid #e4e4e4;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(43, 43, 43, 0.08);
}
.ty-form-group svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

/* Step counter */

.step-container {
  width: 100%;
}

.step {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
}

.v-stepper {
  position: relative;
  /*   visibility: visible; */
}

/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 20px; /* +6 for border */
  height: 20px;
  display: inline-block;
}

.step .line {
  top: 28px;
  left: 14px;
  /*   height: 120px; */
  height: 100%;
  position: absolute;
  border-left: 1px dashed #818184;
}

.step.completed .circle {
  width: 28px;
  height: 28px;
  visibility: visible;
  /* background-color: #88aea6; */
  border-width: 1px;
  border-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step.completed .circle .dot {
  width: 8.24px;
  height: 8.24px;
  visibility: visible;
  background-color: #88aea6;
  border-radius: 50%;
  /* border-color: #88aea6; */
}

.step.completed .line {
  border-left: 1px dashed #818184;
}

.step.active .circle {
  width: 28px;
  height: 28px;
  visibility: visible;
  border-width: 1px;
  border-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step.active .circle .number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #88aea6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}

.step:last-child .line {
  display: none;
  /* border-left: 2px dashed white;
  z-index: -1; */
}

.step-content {
  width: 100%;
  margin-left: 20px;
  color: #4a4a4a;
  position: relative;
  line-height: 24px;
}

.step-content > p {
  font-size: 18px;
}

.session-counter-home h3 {
  margin-bottom: 20px;
  color: #4a4a4a;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px; /* 109.375% */
}

.session-counter-hero > h3 {
  color: #666;
  font-size: 18px;
  font-weight: 400;
}

.session-counter-home h4 {
  display: none;
}

.counter-card-container {
  display: flex;
  gap: 23.41px;
}

.counter-card-container-hero {
  margin-top: 10px;
  display: flex;
  gap: 23.41px;
}

.session-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  min-height: 166px;
  max-height: 166px;
  background-image: url("https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/detail/timer-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.counter-card {
  width: 85.924px;
  height: 72px;
  border-radius: 10.436px;
  background: #fff;
  box-shadow: 0px 4.174px 20.872px 0px rgba(43, 43, 43, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

/* Animation when updating the countdown */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation when the countdown updates */
.counter-card.slide-up {
  animation: slideUp 0.5s ease-out;
}

.counter-card-hero {
  width: 51.064px;
  height: 45.539px;
  border-radius: 10.436px;
  background: #fff;
  box-shadow: 0px 4.174px 20.872px 0px rgba(43, 43, 43, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-card h6 {
  color: #49887b;
  text-align: center;
  font-size: 30.638px;
  font-weight: 700;
  line-height: normal;
}

.counter-card-hero h6 {
  color: #49887b;
  text-align: center;
  font-size: 19.378px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.counter-card p {
  color: var(--Grey, #818184);
  text-align: center;
  font-size: 18.323px;
  font-weight: 400;
  line-height: normal;
}

.counter-card-hero p {
  color: var(--Grey, #818184);
  text-align: center;
  font-size: 11.627px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ty-session-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  min-height: 166px;
  max-height: 166px;
  background-image: url("https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/thank-you/timer-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
}

.ty-session-counter h4 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.ty-counter-card-container {
  display: flex;
  gap: 20px;
}

.ty-counter-card {
  width: 55px;
  height: 49.049px;
  border-radius: 10.436px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-shadow: 0px 4.174px 20.872px 0px rgba(43, 43, 43, 0.14);
}

.ty-counter-card h6 {
  color: #49887b;
  text-align: center;
  font-size: 20.872px;
  font-weight: 700;
  line-height: 13px;
}

.ty-counter-card p {
  color: var(--Grey, #818184);
  text-align: center;
  font-size: 12.523px;
  font-weight: 400;
}

.ty-video {
  margin-top: 14px;
  width: 265px;
  height: 468px;
  border-radius: 12px;
}
