@media screen and (max-width: 390px) {
  header {
    max-height: 56px;
  }
  .logo > svg {
    max-width: 122px;
  }
  .contact-us {
    max-width: 150px;
    max-height: 36px;
    font-size: 14px;
  }
  .hero-section {
    background-image: url(https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/detail/hero-bg-sm.webp);
  }
  /* .scroll-section{
    background: linear-gradient(to bottom, #dbf7f2 0%, #f4f2eb 3%);
  } */
  .video-section {
    position: relative;
    width: calc(100vw - 40px);
    height: 231px;
    border-radius: 13px;
    overflow: hidden;
    /* margin: 0 10px; */
  }
  .ty-container {
    padding-top: 1.5rem;
  }
  .hero-section-ty {
    margin-bottom: 0.5rem;
    min-height: 255px;
    background-image: url("./images/thank-you/hero-bg-sm.png");
  }
  .ty-session-counter {
    background-image: url("https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/thank-you/timer-bg.webp");
  }
  .grid-responsive {
    grid-template-columns: repeat(1, 1fr);
  }
  .benefits-subheading {
    margin-top: 0px;
  }
  .scholarship-terms {
    font-size: 12px;
  }
  #scholarshipForm > p {
    font-size: 10px;
  }

  .scholarshipFormInput {
    height: 40px;
  }
  .whats-say-subheading {
    font-size: 16px;
  }
  .workshop-included-br {
    display: block;
  }
}
@media screen and (max-width: 370px) {
  .contact-us {
    max-width: 122px;
    max-height: 32px;
    font-size: 12px;
  }
  .ws-iconbox:nth-child(3) {
    max-width: 100%;
    height: 80px;
  }
}
