@media screen and (max-width: 640px) {
  .logo {
    margin-left: -16px;
    margin-top: -12px;
    max-width: 122.222px;
    height: 40px;
  }

  header > section > a {
    width: 100%;
    max-width: 122.609px;
    height: 30px;
  }
  .workshop-include-main {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    gap: 9rem;
  }
  .workshop-include-section {
    position: relative;
  }

  .workshop-include-section > div {
    padding-top: 58px;
  }
  .workshop-include-section-image-parent {
    max-width: 246px;
    position: absolute;
    top: -8rem;
  }
  .grid-responsive {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-responsive {
    grid-template-columns: repeat(3, 1fr);
  }
  .counter-card {
    width: 55px;
    height: 49.049px;
  }
  .counter-card h6 {
    font-size: 20px;
  }
  .counter-card p {
    font-size: 12px;
  }
  .modal-content {
    max-width: 90%;
  }
  .benefits-subheading {
    margin-top: 0px;
  }
  .testimonial-div {
    padding-top: 0px !important;
    margin-top: 20px;
  }
  .testimonial-main {
    margin-top: 0px;
  }
  .testimonial-heading {
    display: none;
  }
  .testimonial-heading-mobile {
    display: block;
    margin-top: 40px;
  }
  .sm-hidden {
    display: none;
  }
  .footer-bottom-ty {
    height: 125px;
  }
  .footer-ul,
  .ty-footer-ul {
    flex-direction: column;
  }
}
