@media screen and (max-width: 390px) {
  .contact-us {
    max-width: 150px;
    max-height: 40px;
    font-size: 16px;
  }
  .hero-section {
    background-image: url(https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/detail/hero-bg-sm.webp);
  }
  .workshop-details {
    background-color: rgb(230, 243, 239);
  }
  .video-section {
    position: relative;
    width: calc(100vw - 40px);
    height: 231px;
    border-radius: 13px;
    overflow: hidden;
    /* margin: 0 10px; */
  }
  .hero-section-ty {
    min-height: 248px;
    background-image: url("./images/thank-you/hero-bg-sm.png");
  }
  .ty-session-counter {
    background-image: url("https://satvic-new-website.s3.ap-south-1.amazonaws.com/images/workshop/thank-you/timer-bg.webp");
  }
  .grid-responsive {
    grid-template-columns: repeat(1, 1fr);
  }
  .benefits-subheading{
    margin-top: 0px;
  }
  .testimonial-div {
    padding-top: 0px !important;
  }
  .testimonial-heading {
    display: none;
  }
  .whats-say-subheading {
    font-size: 16px;
  }
  .testimonial-heading-mobile {
    display: block;
  }
}
